.banner-grid{
	background-color: #1a1a1a;
	position:relative;
	padding: 0px;
	height:27vh;
}
.banner{
	height: 100%;
	width: 100%;
	object-fit: contain;
	margin: auto;
	background-color: #232323;
}
.carousel{
	height: 100%;
	width: 100%;
}
.carousel-inner{
	height: 100%;
}
.carousel-item{
	height: 100%;
	width: 27%;
	object-fit: contain;
	margin: auto;
}