/*Body Style*/
#bod{
	background-image: url('../images/headerback.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.row{
	margin: auto;
}
.section-title{
	height: 10vh;
	color: #fff;
	font-size: 3em;
	font-weight: bold;
	justify-content: center;
	background-color: #232323;
}