/*Body Style*/
#bod{
	/*background-image: url('../images/headerback.jpg');*/
	background-color: #1a1a1a;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.row{
	margin: auto;
}
.section-title{
	height: 10vh;
	color: #fff;
	font-size: 3em;
	font-weight: bold;
	justify-content: center;
	background-color: #1a1a1a;
}
.mt-3{
	margin-top: 1rem!important;
}
.mt-nav{
	margin-top: 3.5rem!important;
}
.mb-4{
	margin-bottom: 1.5rem!important;
}
.lead{
	color: #fff;
	font-size: 3.2em;
}
